#popularPoduct {
  width: 100%;
  height: fit-content;
  background-image: url("https://xpressrow.com/html/cafena/cafena/assets/images/bg/pp-bg-3-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  // background-position: center;
  .container {
    width: 80%;
    margin: auto;
    .headtext {
      background-color: var(--button-bg-color);
      padding: 5px 10px;
      border-radius: 5px;
    }
    .textAndButton {
      padding: 50px 0;
      width: 100%;
      display: flex;
      justify-content: space-between;
      color: var(--colorMain);
      button {
        padding: 10px 20px;
        border-radius: 8px;
        background-color: var(--button-bg-color);
        color: var(--colorMain);
      }
    }
    .wrapper {
      width: 100%;
      padding: 0 0 100px 0;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;
      background-color: transparent;
      .popularCard {
        width: 30%;
        min-height: 550px;
        border: 1px solid gray;
        color: var(--colorMain);
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover .bg {
          opacity: 1;
          transition: 0.5s;
        }
        &:hover .links {
          opacity: 1;
          transition: 0.5s;
        }
        .bg {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
          background-color: rgb(62, 62, 62);
          opacity: 0;
          transition: 0.5s;
        }
        .links {
          display: flex;
          gap: 10px;
          position: absolute;
          z-index: 2;
          top: 20px;
          opacity: 0;
          transition: 0.5s;

          i {
            color: var(--colorMain);
            padding: 10px;
            border: 1px solid var(--colorMain);
            border-radius: 5px;
            z-index: 2;
            cursor: pointer;
            transition: 0.5s;
            &:hover {
              background-color: var(--button-bg-color);
              transition: 0.5s;
            }
          }
        }
        .popularImage {
          width: 100%;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          z-index: 1;
          position: absolute;
          img {
            width: 147px;
            height: 230px;
            border-radius: 0;
            position: static;
          }
        }
        .texts {
          height: 20%;
          padding: 0 30px;
          text-align: center;
          z-index: 1;
          position: absolute;
          bottom: 0;

          .fa-star {
            color: var(--button-bg-color);
          }
          p {
            color: var(--button-bg-color);
            span {
              color: var(--colorMain);
              text-decoration: line-through;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
    #popularPoduct{
        .wrapper{
            width: 95%;
            flex-wrap: wrap;
            .popularCard{
                width: 100%!important;
                min-height: 420px!important;
                .popularImage{
                    height: 70%!important;
                    img{
                        width: 100px!important;
                    }
                }
                .texts{
                    height: 30% !important;
                }
            }
        }
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px) {
    #popularPoduct{
        .wrapper{
            width: 90%;
            flex-wrap: wrap;
            .popularCard{
                width: 48%!important;
                height: 500px;
            }
        }
    }
}
