footer {
  background-image: url("https://xpressrow.com/html/cafena/cafena/assets/images/bg/footer-3-1.jpeg");
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerbox {
  width: 80%;
}
footer .footerbox .top {
  display: flex;
  flex-direction: column;
}
footer .footerbox .top .top-part {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
footer .footerbox .top .top-part .directions ul {
  display: flex;
}
footer .footerbox .top .top-part .directions ul li {
  display: flex;
  margin-left: 50px;
}
footer .footerbox .top .top-part .directions ul li p {
  color: white;
}
footer .footerbox .top .top-part .directions ul li p a {
  color: gray;
}
footer .footerbox .top .top-part .directions ul li i {
  color: rgb(211, 173, 127);
  margin-right: 20px;
  font-size: 28px;
}
footer .footerbox .top .top-part .logo {
  margin-top: 70px;
  padding-left: 40px;
}
footer .footerbox .top .top-part .top-button {
  position: absolute;
  left: 50%;
  top: 0;
}
footer .footerbox .top .top-part .top-button span a {
  color: gray;
}
footer .footerbox .top .top-part .input-subscribe {
  position: relative;
  width: 260px;
}
footer .footerbox .top .top-part .input-subscribe input {
  background-color: black;
  color: gray;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
}
footer .footerbox .top .top-part .input-subscribe input placeholder {
  color: gray;
}
footer .footerbox .top .top-part .input-subscribe .email-sub {
  position: absolute;
  right: 0;
  top: 0;
  display: flex;
  gap: 10px;
}
footer .footerbox .top .top-part .input-subscribe .email-sub a {
  color: white;
}
footer .footerbox .top .top-part .input-subscribe .email-sub i {
  color: white;
}
footer .footerbox .top .bottom-part {
  align-items: end;
  justify-content: space-between;
  display: flex;
  padding-bottom: 70px;
}
footer .footerbox .top .bottom-part .info {
  padding-left: 40px;
  margin-top: 16px;
}
footer .footerbox .top .bottom-part .info p {
  color: white;
  width: 580px;
}
footer .footerbox .top .bottom-part .social-media {
  cursor: pointer;
  display: flex;
  gap: 10px;
}
footer .footerbox .top .bottom-part .social-media .twitter {
  color: gray;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerbox .top .bottom-part .social-media .twitter:hover {
  color: white;
  border: 1px solid white;
  transition: 0.4s;
}
footer .footerbox .top .bottom-part .social-media .facebook {
  color: gray;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerbox .top .bottom-part .social-media .facebook:hover {
  color: white;
  border: 1px solid white;
  transition: 0.4s;
}
footer .footerbox .top .bottom-part .social-media .youtube {
  color: gray;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerbox .top .bottom-part .social-media .youtube:hover {
  color: white;
  border: 1px solid white;
  transition: 0.4s;
}
footer .footerbox .top .bottom-part .social-media .google {
  color: gray;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerbox .top .bottom-part .social-media .google:hover {
  color: white;
  border: 1px solid white;
  transition: 0.4s;
}
footer .footerbox .top .bottom-part .social-media .instagram {
  color: gray;
  width: 30px;
  height: 30px;
  border: 1px solid gray;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footerbox .top .bottom-part .social-media .instagram:hover {
  color: white;
  border: 1px solid white;
  transition: 0.4s;
}/*# sourceMappingURL=index.css.map */