header {
    background-image: url('https://xpressrow.com/html/cafena/cafena/assets/images/hero/hero-img-3-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: fit-content;
    color: var(--colorMain);
    padding: 70px 100px;

    .header-inner {
        width: 500px;

        h1 {
            font-size: 70px;
            font-family: "Bebas Neue", cursive;
        }

        p {
            margin: 20px 0;
        }

        button {
            padding: 10px 30px;
            font-weight: bold;
            background-color: transparent;
            color: var(--colorMain);
            border: 2px solid gray;
            margin: 50px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        .beige-button {
            background-color: var(--button-bg-color);
        }




    }

    .links {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .social-media {
            display: flex;
            gap: 20px;
        }

        .youtube-link {
            width: 100px;
            text-align: center;
            cursor: pointer;

            .fa-play,
            .fa-xmark {
                font-size: 20px;
                padding: 20px;
                border-radius: 50%;
                border: 1px solid var(--colorMain);

                &:hover {
                    background-color: var(--button-bg-color);
                }
            }
        }
    }

    iframe {
        position: absolute;
        top: 50%;
        left: 30%;
        width: 600px;
        height: 400px;
        display: none;
        z-index: 1;
    }
}

.iframe-active {
    display: block !important;
    transition: 0.5s;
}

@media screen and (max-width: 424px) {
    header {
        padding: 20px;

        .header-inner {
            width: 90%;

            h1 {
                font-size: 35px;
            }

            button {
                margin: 10px 10px;
            }
        }

        .links {
            flex-wrap: wrap;
            gap: 20px;

            .social-media {
                width: 100%;
                align-items: center;

                i {
                    font-size: 12px;
                }
            }

            .youtube-link {
                width: 100%;

            }
        }

        iframe {
            width: 300px;
            height: 200px;
            left: 3%;
            top: 30%;
        }
    }
}

@media screen and (min-width:425px) and (max-width: 578px) {
    header {
        padding: 20px;

        .header-inner {
            width: 90%;

            h1 {
                font-size: 35px;
            }

            button {
                margin: 10px 10px;
            }
        }

        .links {
            flex-wrap: wrap;
            gap: 20px;

            .social-media {
                width: 100%;
                align-items: center;

                i {
                    font-size: 12px;
                }
            }

            .youtube-link {
                width: 100%;

            }
        }

        iframe {
            width: 300px;
            height: 200px;
            left: 3%;
            top: 30%;
        }
    }
}

@media screen and (min-width: 579px) and (max-width:768px) {
    header {
        iframe{
            left: 10%;
        }
    }
}

@media screen and (min-width: 769px) and (max-width:1024px) {
    header {
        iframe {
            left: 20%;
            top: 30%;
        }
    }
}