#wishlist {
    background-image: url('https://xpressrow.com/html/cafena/cafena/assets/images/bg/footer-3-1.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    width: 100%;
    padding: 200px 100px;
    color: var(--colorMain);

    .wishlist-inner {
        width: 100%;
        text-align: center;
        .fa-heart{
            font-size: 60px;
        }

        h1 {
            font-size: 60px;
            padding-left: 20px;
        }

        .wishWrapper {
            width: 70%;
            margin: auto;

            .wishCard {
                width: 80%;
                display: flex;
                margin: auto;
                border-bottom: 1px solid var(--colorMain);
                padding: 50px 0;
                align-items: center;

                .wishImg {
                    width: 20%;
                    text-align: center;
                    border-right: 1px solid var(--colorMain);

                }

                .wishTexts {
                    width: 60%;
                    text-align: center;

                    span {
                        font-weight: normal;
                    }

                    p {
                        font-weight: bold;
                        font-size: 24px;
                    }

                }
                .fa-trash-can{
                    padding: 0 20px;
                    cursor: pointer;
                    transition: 0.5s;
                    &:hover{
                        transform: scale(1.2);
                        transition: 0.5s;
                    }
                }
                button{
                    width: 20%;
                    padding: 10px 0;
                    background-color: var(--button-bg-color);
                    border: none;
                    color: var(--colorMain);
                    border-radius: 8px;
                    cursor: pointer;
                    &:hover{
                        background-color: var(--colorMain);
                        color: var(--button-bg-color);
                    }
                }
            }
        }
    }
}