.contact-main {
    width: 100%;
    height: 315px;
    background-image: url("/img/breadcrumb-bg-1.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 150px;
    margin-top: 100px;


    h2 {
        color: #fff;
        text-align: center;
        padding-top: 100px;
        font-size: 70px;
        font-weight: 500;
        font-family: 'Bebas Neue', sans-serif;
    }

    .home-slash-page {
        max-width: 140px;
        display: flex;
        margin-left: auto;
        margin-right: auto;
        gap: 5px;
        padding-top: 5px;

        h6 {
            color: #fff;
            text-align: center;
            font-size: 16px;
            font-weight: 500;
        }

        span {
            color: #c7a17a;
            font-size: 16px;
            font-weight: 500;
        }
    }
}

.head-texts {
    width: 100%;
    text-align: center;
    color: var(--colorMain);
    line-height: 1.5;

    span {
        background-color: var(--button-bg-color);
        border-radius: 5px;
        padding: 5px 10px;
    }

    h2 {
        font-size: 55px;
        margin-top: 20px;
        font-weight: 500;
        color: #000;
        font-family: "Bebas Neue", sans-serif;
    }
}

.menu-category-container {
    width: 80%;
    ;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;

    .menu-category {
        width: 80%;
        margin: 0 auto;
        border: 1px solid #00000030;
        border-radius: 6px;
        // padding: 0 30px;

        .menu-btns {
            display: flex;
            justify-content: space-between;

            #all {
                width: 80px;
                height: 40px;
                font-size: 15px;
                border: none;
                border-radius: 6px;
                font-weight: 500;
            }

            button {
                width: 145px;
                height: 40px;
                background: none;
                color: #000;
                font-size: 15px;
                border: none;
                border-radius: 6px;
                font-weight: 500;
            }
            .link:active{
                background-color: #363330;
                color: #fff;
            }

            button:hover {
                background: #c7a17a;
                color: #fff;
                transition: .4s;
            }
        }
    }
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: auto;
    background: none;

    .popularCard {
        width: 45%;
        border: 1px solid gray;
        position: relative;
        border-radius: 5px;
        z-index: 0;
        color: var(--colorMain);
        background: none;

        &:hover .bg-animation {
            width: 100%;
            transition: 0.5s;
        }

        .bg-animation {
            width: 0%;
            height: 100%;
            background-color: rgba(79, 79, 79, 0.195);
            position: absolute;
            top: 0;
            left: 0;
            transition: 0.5s;
            z-index: 0;
        }

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
            position: absolute;
            top: 15px;
            left: -30px;
            z-index: 1;
        }

        .details {
            padding: 30px 40px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            z-index: 1;

            h3 {
                position: relative;
                text-transform: uppercase;
                color: #000;

                &:hover .name-line {
                    width: 100%;
                    transition: 0.5s;
                }
            }

            p {
                z-index: 1;
                font-weight: bold;
                font-family: "Bebas Neue", sans-serif;
                font-size: 25px;
                color: #c7a17a;
                font-weight: 500;
            }

            .name-line {
                position: absolute;
                bottom: -5px;
                left: 0;
                width: 0%;
                background-color: var(--main-bg-color);
                height: 3px;
                transition: 0.5s;
            }
        }
    }
}


@media screen and (max-width: 578px) {
    .wrapper {
        gap: 50px;
        width: 95%;

        .popularCard {
            width: 100%;

            img {
                top: -30px;
                left: 40%;
            }

            .details {
                padding: 50px 10px;
            }
        }
    }
}


@media screen and (min-width: 579px) and (max-width: 1024px) {
    .wrapper {

        // gap: 50px;
        .popularCard {
            width: 48%;

            img {
                top: -30px;
                left: 40%;
            }

            .details {
                padding: 50px 10px;
            }
        }
    }
}