.filter-main {
    padding-top: 30px;
    padding-bottom: 100px;
    width: 378px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media screen and (max-width: 456px) {
    .filter-main {
        width: 92%;
    }
}