nav {
  width: 100%;
  padding: 30px 0;
  border-bottom: 1px solid var(--colorMain);
  background-color: var(--main-bg-color);
  color: var(--colorMain);
  z-index: 9;
  position: fixed;
  top: 0;
  left: 0;

  .nav-inner {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: space-between;

      .navlink {
        color: var(--colorMain);
        font-weight: bold;
        cursor: pointer;
        transition: 0.3s;
        display: block;
        width: 100%;
        position: relative;
        font-size: 13px;

        &:hover {
          color: var(--button-bg-color);
          transition: 0.3s;
        }
      }

      li {
        align-self: stretch;

        .circle {
          position: absolute;
          background-color: var(--button-bg-color);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          top: 3px;
          left: 0;
          opacity: 0;
          transition: 0.3s;
        }

        &:hover .circle {
          left: -15px;
          opacity: 1;
          transition: 0.3s;
        }
      }
    }

    .navtexts {
      width: 40%;
    }

    .logo {
      width: 95px;
      text-align: center;
      margin-right: 40px;

      img {
        cursor: pointer;
      }
    }

    .right-side-nav {
      width: 35%;
      display: flex;
      align-items: center;
      align-self: stretch;
      // gap20

      .nav-texts {
        width: 70%;
        align-self: stretch;
        height: 100%;

        ul {
          height: 100%;
          justify-content: space-around!important;

          .sublink {
            display: flex;
            align-items: center;
            position: relative;

            &:hover .submenu {
              height: 250px !important;
              transition: 0.5s;

            }

            .submenu {
              position: absolute;
              top: 80px;
              left: 0;
              background-color: var(--second-bg-color);
              width: 250px;
              border-radius: 7px;
              height: 0px;
              overflow: hidden;
              transition: 0.5s;

              .sub-texts {
                display: block;
                color: var(--colorSecond);
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: space-between;
                font-weight: bold;
                padding: 20px;

                li {
                  transition: 0.5s;
                  cursor: pointer;
                }

                li:hover {
                  color: var(--button-bg-color);
                  transform: translateX(5px);
                  transition: 0.5s;
                }
              }
            }

          }



        }
      }

      .buttons {
        width: 30%;
        display: flex;
        justify-content: space-evenly;

        .fa-bars {
          margin-left: 10px;
          display: none;
        }

        i {
          font-size: 20px;
          cursor: pointer;
          transition: 0.5s;
          position: relative;
          z-index: 5;

          &:hover {
            color: var(--button-bg-color);
            transition: 0.5s;
          }

          .message {
            font-weight: normal;
            position: absolute;
            top: 0;
            font-size: 14px;
            right: -15px;
            color: var(--colorMain);
          }
        }
      }
    }
  }

  .side-navbar {
    width: 300px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--second-bg-color);
    padding: 70px 30px;
    color: var(--colorSecond);
    transform: translateX(300px);
    transition: 0.5s;
    z-index: 5;

    .fa-xmark {
      position: absolute;
      top: 0;
      left: 0;
      color: var(--colorMain);
      font-size: 20px;
      padding: 15px;
      background-color: var(--main-bg-color);
      cursor: pointer;
    }

    .texts {
      padding: 30px 0;

      li {
        min-height: 40px;
      }

      .side-nav-link {
        color: var(--colorSecond);
        font-weight: bold;
        width: 100%;

        &:hover {
          color: var(--button-bg-color);
          transition: 0.5s;
        }
      }

      .shop-texts {
        max-height: 0;
        overflow: hidden;
        transition: 1s;

        li {
          min-height: 30px;
        }
      }

      .opener {
        display: flex;
        width: 100%;
        justify-content: space-between;
        cursor: pointer;
      }
    }
  }

  .search {
    width: 300px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--second-bg-color);
    position: absolute;
    top: 120px;
    right: 100px;
    transform: scale(0);
    transition: 0.5s;


    input {
      height: 50px;
      width: 250px;
      border: none;
    outline: none;
      text-align: center;
      background-color: #f4f1ee;
      outline: none;
    }

    i {
      color: var(--colorMain);
      background-color: var(--main-bg-color);
      font-size: 20px;
      padding: 15px;
    }
  }
}

.active {
  max-height: 500px !important;
  transition: max-height 1s;
}

.nav-active {
  transform: translateX(0) !important;
  transition: 0.5s;
}
.search-active{
  transform: scale(1)!important;
  transition: 0.5s;
}

@media screen and (max-width: 768px) {
  nav {
    .nav-inner {
      width: 90%;
      justify-content: space-between;

      .logo {
        display: flex;
        justify-content: flex-start;
      }

      .navtexts {
        display: none;
      }

      .right-side-nav {
        width: 50%;

        .nav-texts {
          display: none;
        }

        .buttons {
          width: 90%;

          .fa-bars {
            display: block;
          }
        }

      }
    }
    .search{
      right: 10px;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  nav {
    .nav-inner {
      width: 90%;
      justify-content: space-between;

      .logo {
        display: flex;
        justify-content: flex-start;
      }

      .navtexts {
        display: none;
      }

      .right-side-nav {
        .nav-texts {
          width: 50%;
        }

        .buttons {
          width: 50%;

          .fa-bars {
            display: block;
          }
        }

      }
    }
  }
}